version: 2.1

orbs:
  python: circleci/python@0.2.1

jobs:
  build-and-test:
    executor: python/default
    steps:
      - checkout
      - run:
        name: Install CEEFAX
        command : |
          pip install --user -v
      - run:
        name: Run unit tests
        command : |
          python3 -m pytest test/

workflows:
  main:
    jobs:
      - build-and-test
